@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
</head>
<body>
    <table class="table">
        <tr>
            <td>
                <br />
                <p>
                    Please sign the guestbook:
                </p>
                <div asp-validation-summary="All"></div>
                <form method="POST">
                    <div>Name: <input asp-for="Guest.Name" /></div>
                    <br />
                    <input type="submit" />
                </form>
            </td>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var guest in Model.Guests)
            {
                <tr>
                    <td>@guest.Id</td>
                    <td>@guest.Name</td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
