@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Technologies used</h2>
        <ul>
            <li>Here are links to the tech used in this demo</li>
            <li><a href="https://www.terraform.io/">Terraform</a></li>
            <li><a href="https://code.visualstudio.com/">Visul Studio Code</a></li>
            <li><a href="https://github.com/dotnet/core">dotnet core</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Contact</h2>
        <ul>
            <li>You can contact me on gerry.larsson a gmail.com</li>
        </ul>
    </div>
 </div>
