@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Don't worry, this is simply a demo site. All data will be destroyed within hours or max two days.</p>